.button {
  display: block;
  width: 260px;
  padding: 14px 10px;

  font: bold 18px/20px @font-family;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;

  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;

  &--special-product,
  &--modal,
  &--order-form,
  &--make-an-order {
    font-size: 17px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: #444444;
  }

  &:hover,
  &:focus {
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--modal {
    color: #ffffff;

    background-color: #63d1bb;
    border-color: transparent;
  }

  &--modal:hover,
  &--modal:focus,
  &--modal:active {
    background-color: #ffffff;
    border-color: #63d1bb;
  }

  &--modal:hover,
  &--modal:focus {
    color: #63d1bb;
  }

  &--modal:active {
    color: rgba(99, 209, 187, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 17px;

    &--special-product {
      width: 290px;
    }

    &--reviews {
      width: 175px;
    }

    &--contacts,
    &--order-form {
      width: 230px;
    }

    &--modal {
      width: 350px;
    }
  }
}
