.button {
  display: block;
  padding: 14px 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @second-color;

  background-color: #ffffff;
  border: 2px solid @second-color;
  cursor: pointer;

  &--favorite,
  &--size-form {
    padding: 14px 4%;
  }

  &--reviews,
  &--contacts {
    padding: 14px 2%;
  }

  &--order-form {
    width: 260px;
  }

  &--make-an-order {
    width: 192px;
  }

  &--favorite,
  &--size-form,
  &--order-form,
  &--make-an-order {
    font-size: inherit;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: @second-color;
  }

  &:hover,
  &:focus {
    color: #ffffff;
  }

  &:active {
    color: fade(#ffffff, 30%);
  }

  &--size-form {
    color: #ffffff;

    background-color: @mishka-color;
    border-color: transparent;
  }

  &--size-form:hover,
  &--size-form:focus,
  &--size-form:active {
    background-color: #ffffff;
    border-color: @mishka-color;
  }

  &--size-form:hover,
  &--size-form:focus {
    color: @mishka-color;
  }

  &--size-form:active {
    color: fade(@mishka-color, 30%);
  }
}

@media (min-width: @tablet-width) {
  .button {
    font-size: inherit;

    &--order-form {
      width: 230px;
    }

    &--make-an-order {
      width: 584px;
    }
  }
}

@media (min-width: @desktop-width) {
  .button {
    &--make-an-order {
      width: 230px;
    }
  }
}
