.logo {
  &[href] {
    cursor: pointer;
  }

  &--main-nav {
    display: block;
    padding: 21px 9.375%;

    background-color: @body-background-color;
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
  }

  &--main-nav[href]:hover,
  &--main-nav:focus {
    opacity: 0.6;
  }

  &--main-nav[href]:active {
    opacity: 0.3;
  }

  &--footer {
    display: none;
  }
}

.logo__image {
  &--main-nav {
    display: block;
    width: 86px;
    height: 35px;
    margin: 0 auto;
  }
}

@media (max-width: @mobile-width-only) {
  .logo--main-nav {
    position: relative;
    z-index: 55;
  }
}

@media (min-width: @tablet-width) {
  .logo {
    &--main-nav {
      width: 28.255%;
      padding: 22px 6.38% 20px;

      border: none;
    }

    &--footer {
      display: block;
      width: 33.3333%;
      padding: 51px 6.5104% 58px;
    }
  }

  .logo__image {
    &--main-nav {
      width: 112px;
      height: 46px;
      margin: 0;
    }

    &--footer {
      display: block;
      width: 102px;
      height: 34px;

      fill: #231f20;
    }

    .logo[href]:hover &--footer,
    .logo:focus &--footer,
    .logo[href]:active &--footer {
      fill: #46c1ae;
    }

    .logo[href]:active &--footer {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .logo {
    &--main-nav {
      width: 18.1739%;
      padding: 9px 1.5% 7px;
    }

    &--footer {
      padding-left: 4.3478%;
      padding-right: 4.3478%;
    }
  }

  .logo__image {
    &--main-nav {
      width: 149px;
      height: 72px;
      margin-left: 5.2419%;
    }
  }
}
