.logo {
  &[href] {
    cursor: pointer;
  }

  &--main-nav {
    display: block;
    padding: 21px 9.375%;

    background-color: @body-background-color;
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
  }

  &--main-nav[href]:hover,
  &--main-nav:focus {
    opacity: 0.6;
  }

  &--main-nav[href]:active {
    opacity: 0.3;
  }

  &--footer {
    display: none;
  }
}

.logo__image {
  &--main-nav {
    display: block;
    width: 86px;
    height: 35px;
    margin: 0 auto;
  }
}

@media (max-width: @mobile-width-only) {
  .logo--main-nav {
    position: relative;
    z-index: 55;
  }
}

@media (min-width: @tablet-width) {
  .logo {
    width: 217px;

    &--main-nav {
      width: 28.255%;
      padding-top: 22px;
      padding-bottom: 20px;
      padding-left: 6.38%;
      padding-right: 6.38%;

      border: none;
    }

    &--footer {
      display: flex;

      padding: 50px;

      color: #231f20;
    }

    &--footer[href]:hover,
    &--footer:focus,
    &--footer[href]:active {
      color: #46c1ae;
    }

    &--footer[href]:active {
      opacity: 0.3;
    }
  }

  .logo__image {
    &--main-nav {
      width: 112px;
      height: 46px;
      margin: 0;
    }

    &--footer {
      display: block;
      width: 102px;
      height: 34px;
      margin-bottom: 8px;
      margin-right: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .logo {
    &--main-nav {
      width: 18.1739%;
      padding: 9px 1.5% 7px;
    }

    &--footer {
      width: 225px;
    }
  }

  .logo__image {
    &--main-nav {
      width: 149px;
      height: 72px;
      margin-left: 5.2419%;
    }
  }
}
