.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  right: calc(~"9.375% - 30px"); /* stylelint-disable-line */

  width: 81px;
  height: 79px;
  padding: 0;

  background-color: transparent;

  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 32px;
  left: 30px;

  width: 20px;
  height: 2px;

  background-color: @hamburger-color;
  box-shadow: 0 6px 0 0 @hamburger-color, 0 12px 0 0 @hamburger-color;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 38px;
    left: 27px;

    width: 27px;
    height: 2px;

    background-color: @hamburger-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav__toggle {
    z-index: 55;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--closed:not(.main-nav--nojs) .main-nav__list {
    display: none;
  }

  .main-nav--closed:not(.main-nav--nojs) .main-nav__search {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    z-index: 15;

    display: flex;
    flex-wrap: wrap;

    margin-bottom: -58px;
  }

  .main-nav__logo {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;

    margin-right: auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-shrink: 0;
    flex-basis: auto;
  }

  .main-nav__list--site {
    order: 4;
  }

  .main-nav__search {
    flex-shrink: 0;
    flex-basis: auto;
  }

  .main-nav__delivery {
    flex-shrink: 0;
    flex-basis: auto;
    order: 5;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    max-width: @desktop-width;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav__list--site {
    order: -1;
  }

  .main-nav__delivery {
    order: 0;
  }
}
