.merch-list {
  display: none;
  .list-reset();
  .break-word();
  color: #000000;

  background-color: transparent;
}

@media (min-width: @desktop-width) {
  .merch-list {
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-wrap: wrap;
    width: 66%;

    border-top: 1px solid @border-color;
  }

  .merch-list__item {
    flex-shrink: 0;
    flex-basis: auto;

    width: 30.83%;
  }

  .merch-list__link {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 14.0426%;

    font: 700 15px/24px @font-family;
    text-decoration: none;
    color: #000000;

    &[href]:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.6);
    }

    &[href]:active {
      color: rgba(0, 0, 0, 0.3);
    }

    .merch-list__item:nth-child(3n+1) & {
      padding-left: 21.2766%;
    }
  }
}
