@keyframes roll-in {
  0% {
    transform: translate(-2000px, -50%) rotate(-180deg);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
}

.modal {
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;

  display: none;
  width: 320px;
  padding: 30px 30px 46px;

  background-color: @body-background-color;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  transform: translate(-50%, -50%);

  &--show {
    display: block;

    animation: roll-in 0.6s ease-out forwards;
  }

  &--no-animation {
    animation: none;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .modal {
    width: 566px;
    padding: 34px 50px 46px;
  }

  .modal__title {
    margin-bottom: 15px;

    font-size: 30px;
    line-height: 57px;
  }
}
