.modal {
  color: #000000;

  background-color: #ffffff;
}

.modal__title {
  font: bold 25px/30px @font-family;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .modal__title {
    font-size: 30px;
    line-height: 57px;
  }
}
