.order-form {
  padding: 22px 9.375% 55px;
}

.order-form__description {
  margin: 0 auto;
  padding: 0 0 24px;

  font-size: 13px;
  line-height: 24px;
  color: @second-color;
}

.order-form__group {
  margin: 0;
  padding: 0;

  border: none;
  background: linear-gradient(#62d1ba, #62d1ba) no-repeat;
  background-size: 100% 1px;
  background-position: 0 8px;

  &--type {
    padding-bottom: 11px;
  }

  &--color {
    padding-bottom: 10px;
  }

  &--name {
    padding-bottom: 9px;
  }

  &--contacts {
    background: none;
  }

  &--addition {
    padding-bottom: 16px;
  }

  &::after {
    content: "";

    display: table;

    clear: both;
  }
}

.order-form__subtitle {
  float: left;
  width: auto;
  min-width: 62px;
  max-width: 75%;
  padding-bottom: 24px;
  padding-right: 16px;

  font-weight: 700;
  font-size: inherit;
  line-height: 17px;
  text-transform: uppercase;
  color: @mishka-color;

  background-color: @body-background-color;

  &--type,
  &--color {
    min-width: 23.8462%;
  }

  &--name {
    padding-bottom: 28px;
  }
}

.order-form__list {
  float: right;
  width: 100%;
  margin: 0;
  padding: 0;

  .fix-list();

  &--wide {
    float: none;
  }
}

.order-form__textarea {
  float: right;
  display: block;
  width: 100%;
  height: 142px;
  padding: 15px;

  font-size: inherit;
  line-height: 18px;
  color: @second-color;

  background-color: transparent;
  border: 2px solid @second-color;
  border-bottom-color: @body-color;

  &::placeholder {
    color: fade(@second-color, 30%);
    opacity: 1;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: #62d1ba;
  }
}

.order-form__item {
  &--flex {
    display: flex;
    flex-wrap: wrap;
  }

  &--name {
    margin-bottom: 22px;
  }

  &--contacts {
    position: relative;

    margin-bottom: 31px;
  }
}

.order-form__text-input {
  flex-shrink: 0;
  flex-basis: auto;
  order: 2;

  display: block;
  width: 100%;
  height: 48px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 17px;

  font-size: inherit;
  line-height: 18px;
  color: @second-color;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid @body-color;

  &--contacts {
    padding-right: 44px;
  }

  &::placeholder {
    color: fade(@second-color, 30%);
    opacity: 1;
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }
}

.order-form__text-label {
  flex-shrink: 0;
  flex-basis: auto;

  display: block;
  width: 100%;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: inherit;
  line-height: 18px;

  &--flex {
    display: flex;
  }

  &--flex::after {
    content: "";

    flex-shrink: 0;
    flex-basis: auto;
    flex-grow: 1;

    display: block;
    width: 25%;
    height: 1px;
    margin-top: 8px;

    background-color: #62d1ba;
  }

  &--contacts {
    margin-bottom: 10px;
  }
}

.order-form__text-span {
  flex-shrink: 0;
  flex-basis: auto;

  display: block;
  width: auto;
  max-width: 75%;
  padding-right: 23px;

  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  color: @mishka-color;
}

.order-form__icon {
  position: absolute;

  fill: fade(@body-color, 20%);

  &--tel {
    right: 8px;
    bottom: 17px;

    width: 25px;
    height: 24px;
  }

  &--email {
    right: 4px;
    bottom: 10px;

    width: 32px;
    height: 32px;
  }

  .order-form__text-input:hover + .order-form__text-label--contacts &,
  .order-form__text-input:focus + .order-form__text-label--contacts & {
    fill: #62d1ba;
  }
}

.order-form__footnote {
  display: block;
  padding-bottom: 31px;

  font-weight: inherit;
  font-size: 14px;
  line-height: 16px;
  color: @second-color;
}

@media (min-width: 426px) and (max-width: @mobile-width-only) {
  .order-form__button {
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .order-form {
    padding: 72px 0 50px;
  }

  .order-form__description {
    padding: 0 6.5104% 7px;

    font-size: 17px;
    line-height: 30px;
  }

  .order-form__group {
    padding: 50px 6.5104%;

    background: none;

    &--type {
      padding-bottom: 26px;
    }

    &--color {
      padding-bottom: 26px;
    }

    &--name,
    &--contacts {
      padding-top: 48px;
      padding-bottom: 28px;
    }

    &--addition {
      padding-bottom: 53px;
    }

    &--color,
    &--contacts {
      background-color: @second-background-color;
    }
  }

  .order-form__subtitle {
    width: 25%;
    min-width: none;
    max-width: none;
    padding-right: 16px;
    padding-top: 17px;

    background-color: transparent;

    &--type,
    &--color {
      min-width: none;
    }

    &--name {
      padding-top: 19px;
    }
  }

  .order-form__list {
    width: 75%;

    &--wide {
      width: 100%;
    }

    &--flex {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .order-form__textarea {
    width: 75%;
    padding-top: 13px;

    font-size: 19px;
    line-height: 20px;
  }

  .order-form__item {
    &--flex-child {
      flex-shrink: 0;
      flex-basis: auto;

      width: 47.7046%;

      &:nth-child(odd) {
        margin-right: auto;
      }
    }

    &--contacts {
      margin-bottom: 22px;
    }
  }

  .order-form__text-input {
    flex-grow: 1;

    width: 66.6666%;
    height: 54px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 17px;

    font-size: 19px;
    line-height: 20px;

    &--contacts {
      flex-grow: 0;

      width: 75%;
      padding-right: 74px;
    }
  }

  .order-form__text-label {
    align-self: center;

    width: auto;
    max-width: 33.3333%;
    margin-bottom: 0;
    padding-right: 25px;

    font-size: 19px;
    line-height: 20px;

    &--flex {
      display: block;
    }

    &--flex::after {
      display: none;
    }

    &--contacts {
      width: 25%;
      max-width: none;

      padding-right: 17px;
    }
  }

  .order-form__text-span {
    max-width: none;
    padding-right: 0;
  }

  .order-form__icon {
    &--tel {
      right: 26px;
    }

    &--email {
      right: 22px;
    }
  }

  .order-form__bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0 6.5104%;
  }

  .order-form__footnote {
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;

    width: 50%;
    padding-bottom: 4px;

    font-size: 17px;
    line-height: 30px;
    text-align: right;
  }

  .order-form__button {
    flex-shrink: 0;
    flex-basis: auto;
  }
}

@media (min-width: @desktop-width) {
  .order-form {
    padding: 121px 0 49px;

    overflow-x: hidden;
  }

  .order-form__description {
    max-width: 800px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .order-form__group {
    max-width: @desktop-width;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;

    &--type {
      padding-bottom: 25px;
    }

    &--addition {
      padding-bottom: 50px;
    }

    &--color,
    &--contacts {
      position: relative;
    }

    &--color::before,
    &--contacts::before {
      content: "";
      z-index: -1;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 50%;

      display: block;
      height: 100%;
      margin-left: -50vw;
      margin-right: -50vw;

      background-color: @second-background-color;
    }
  }

  .order-form__subtitle {
    width: 16.6666%;
    min-width: 16.6666%;

    padding-left: 6%;

    &--color {
      padding-left: 5.8095%;
    }
  }

  .order-form__list {
    width: 83.33333%;
    padding-right: 16.6666%;

    &--wide {
      width: 100%;
    }

    &--flex {
      padding-right: 0;
    }
  }

  .order-form__item--flex-child {
    width: 29.9429%;

    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  .order-form__text-label {
    &--contacts {
      width: 20%;
      padding-left: 7%;
    }
  }

  .order-form__text-input {
    &--contacts {
      width: 80%;
    }
  }

  .order-form__icon {
    &--tel {
      right: 8px;
    }

    &--email {
      right: 4px;
    }
  }

  .order-form__bottom {
    max-width: @desktop-width;
    margin: 0 auto;
    padding: 0 50px;
  }

  .order-form__footnote {
    width: 33.3333%;
    margin-right: 16.6666%;
  }

  .order-form__button {
    margin-left: 16.6666%;
  }

  .order-form__textarea {
    width: 66.6666%;
    float: left;
  }
}
