.page-main {
  color: #000000;

  background-color: #ffffff;
}

.page-main__title-wrapper {
  padding-top: 71px;

  &--index {
    min-height: 283px;

    background-color: #f9f9f9;
    background-image: url("/../../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -17px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("/../../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
    }
  }

  &--inner-page {
    min-height: 177px;

    background-color: #f1f1f1;
  }
}

.page-main__title {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  .title();
  font-size: 27px;
  text-align: center;

  &--index {
    color: #010000;
  }

  &--form {
    color: #231f20;
  }
}

.page-main__intro {
  width: 320px;
  margin: 0 auto;
  padding: 22px 30px 24px;

  font: normal 13px/24px @font-family;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .page-main__title-wrapper {
    position: relative;

    &--index {
      min-height: 745px;
      padding-top: 153px;

      background-image: url("/../../img/hero-tablet@1x.jpg");
      background-position: center -1px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("/../../img/hero-tablet@2x.jpg");
        background-size: 1150px auto;
      }
    }

    &--inner-page {
      min-height: 225px;
      padding-top: 93px;
    }

    &::after {
      content: "";

      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      right: 0;

      width: 100%;
      height: 24px;

      background-image: url("/../../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: -21px 12px;
      background-size: cover;
    }
  }

  .page-main__title {
    width: 594px;

    color: #000000;
  }

  .page-main__intro {
    width: 768px;
    padding: 72px 50px 7px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__title-wrapper {
    &--index {
      background-image: url("/../../img/hero-desktop@1x.jpg");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("/../../img/hero-desktop@2x.jpg");
      }
    }

    &--inner-page {
      min-height: 254px;
    }

    &::after {
      height: 34px;

      background-position: 0 16px;
    }
  }

  .page-main__title {
    width: 700px;
  }

  .page-main__intro {
    width: 800px;
    padding-top: 121px;
  }
}
