.reviews {
  position: relative;

  padding: 26px 9.375% 51px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 0;
    padding-top: 2%;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: -5px bottom;
    background-size: contain;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  .title();
}

.reviews__blockquote {
  margin: 0;
  padding-bottom: 28px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 27px;

  font-size: 15px;
  line-height: 30px;
  color: @second-color;
}

.reviews__author {
  display: block;

  font-style: normal;
}

.reviews__name {
  display: block;
  padding-bottom: 3px;

  font-weight: 700;
}

.reviews__social-link {
  display: block;

  line-height: 30px;
  text-decoration: none;
  color: @second-color;

  cursor: pointer;
}

.reviews__button {
  width: 100%;
}

@media (min-width: 426px) and (max-width: @mobile-width-only) {
  .reviews__button {
    max-width: 292px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    padding: 77px 6.5104% 51px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }

    &::after {
      bottom: 1px;

      background-position: -10px bottom;
    }
  }

  .reviews__title {
    flex-shrink: 0;
    flex-basis: auto;

    width: 50%;
    margin-right: auto;
    margin-bottom: 49px;
  }

  .reviews__button {
    flex-shrink: 0;
    flex-basis: auto;
    order: 2;

    width: 26.1976%;
    margin-top: 2px;
  }

  .reviews__slider {
    flex-shrink: 0;
    flex-basis: auto;
    order: 3;

    width: 100%;
    margin-bottom: 80px;
  }

  .reviews__blockquote {
    padding-bottom: 0;
  }

  .reviews__text {
    margin-bottom: 57px;

    font-size: 17px;
  }

  .reviews__author {
    width: 50%;
    max-height: 58px;
  }

  .reviews__name {
    padding-bottom: 4px;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    max-width: @desktop-width;
    margin: 0 auto;
    padding: 70px 50px 66px;

    background-position: 6.2% top;

    &::after {
      bottom: 14px;

      margin-left: 50px;
      margin-right: 50px;

      background-position: -26px center;
    }
  }

  .reviews__title {
    margin-left: 16.6666%;
  }

  .reviews__button {
    width: 16.6666%;
    margin-top: 9px;
  }

  .reviews__slider {
    width: 83.3333%;
    min-height: 239px;
    margin-left: 16.6666%;
  }

  .reviews__text {
    margin-bottom: 39px;
    padding-right: 9.1429%;
  }

  .reviews__name {
    font-size: 17px;
  }
}
