.search {
  display: flex;

  padding: 0 30px;

  color: #231f20;

  &:hover,
  &:active {
    color: #63d1bb;
  }

  &:hover .search__icon {
    opacity: 1;
  }

  &:active .search__icon {
    opacity: 0.3;
  }
}

.search__icon {
  align-self: center;
  flex-shrink: 0;

  width: 18px;
  height: 18px;
  margin-left: 2px;
  margin-right: 10px;

  opacity: 0.2;
}

.search__text {
  width: 230px;
  height: 78px;
  padding: 27px 10px;
  padding-left: 16px;

  font: bold 17px/24px @font-family;
  color: #000000;

  border: none;

  &::placeholder {
    color: #000000;
    opacity: 1;
  }
}

.search:hover .search__text::placeholder {
  opacity: 0.6;
}

.search__text:focus::placeholder {
  opacity: 0.6;
}

.search:active .search__text::placeholder {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .search {
    position: relative;

    justify-content: center;

    width: 83px;
    padding: 35px 0;
  }

  .search__text {
    position: absolute;

    visibility: hidden;
  }

  .search:active .search__text,
  .search:hover .search__text {
    top: 100%;
    left: 0;

    visibility: visible;
  }

  .search__icon {
    margin: 0;
  }
}
