.search {
  position: relative;

  display: flex;

  background-color: @body-background-color;
  border-bottom: 1px solid @border-color;
}

.search__label {
  flex-shrink: 0;
  flex-basis: auto;
  order: 1;
  display: flex;
  align-items: center;

  width: 18.75%;
  min-height: 78px;
  padding-top: 3px;
  padding-left: 9.375%;
}

.search__icon {
  flex-shrink: 0;
  flex-basis: auto;

  display: block;
  width: 18px;
  height: 18px;

  fill: @icon-color;
  opacity: 0.2;

  .search:hover &,
  .search.has-focus &,
  .search__input:focus ~ .search__label &,
  .search:active & {
    fill: @mishka-color;
  }

  .search:focus-within & {
    fill: @mishka-color;
    opacity: 1;
  }

  .search:hover &,
  .search.has-focus &,
  .search__input:focus ~ .search__label & {
    opacity: 1;
  }

  .search:active & {
    opacity: 0.3;
  }
}

.search__input {
  flex-shrink: 0;
  flex-basis: auto;
  order: 2;

  display: block;
  width: 81.25%;
  height: 78px;
  padding: 27px 9.375%;
  padding-left: 5%;

  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  color: @body-color;

  background-color: transparent;
  border: none;

  &::placeholder {
    color: @body-color;
    opacity: 1;
  }

  &:focus::placeholder {
    color: @body-color;
    opacity: 0.6;
  }

  .search:hover &::placeholder,
  .search.has-focus &::placeholder {
    color: @body-color;
    opacity: 0.6;
  }

  .search:focus-within &::placeholder {
    color: @body-color;
    opacity: 0.6;
  }

  .search:active &::placeholder {
    color: @body-color;
    opacity: 0.3;
  }
}

.search__submit {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .search {
    z-index: 55;
  }
}

@media (min-width: @tablet-width) {
  .search {
    width: 84px;

    border: none;
  }

  .search__label {
    align-items: flex-start;

    width: 100%;
    min-height: 88px;
    padding: 37px 15% 33px;

    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
  }

  .search__icon {
    margin: 0 auto;
  }

  // Инпут, которого не было в макетах (планшет и десктоп)
  .search__input {
    position: absolute;
    top: 100%;
    left: 0;

    width: 300%;
    height: 80px;
    padding-left: 19.0476%;
    padding-right: 19.0476%;

    background-color: @body-background-color;
    border: 1px solid @border-color;
  }

  // Инпут доступно спрятан, пока не нужен пользователю (без JS и с JS)
  .search:not(:hover):not(:active):not(.has-focus) .search__input:not(:focus) {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  // Кнопка поиска, которой не было в макетах
  .search__submit {
    position: absolute;
    top: 100%;
    left: 300%;

    display: block;
    width: 120%;
    padding: 27px 19.0476%;

    font-weight: 700;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    color: inherit;

    background-color: @body-background-color;
    border: 1px solid @border-color;
    border-left-color: transparent;

    &:hover,
    &:focus {
      color: fade(@body-color, 60%);
    }

    &:active {
      color: fade(@body-color, 30%);
    }
  }

  // Без JS работает инпут, кнопки нет.
  .has-drop--nojs .search__submit {
    display: none;
  }

  // Свойство display не переопределяется, чтобы работало правило ^^выше^^!
  // Кнопка доступно спрятана, пока не нужна (при включенном JS)
  .search:not(:hover):not(:active):not(.has-focus) .search__submit:not(:focus) {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
