.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  margin: 0;
  padding: 20px 0 10px;

  .fix-list();
}

.social-list__item {
  flex-shrink: 0;
  flex-basis: auto;

  margin-right: 8.4615%;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0.7692%;
  }
}

.social-list__link {
  position: relative;

  display: block;

  width: 40px;
  height: 40px;
}

.social-list__icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;

  fill: #221f1f;

  .social-list__link:hover &,
  .social-list__link:focus &,
  .social-list__link:active & {
    fill: #46c1ae;
  }

  .social-list__link:active & {
    opacity: 0.3;
  }

  &--instagram {
    left: 1px;
    top: 1px;

    width: 22px;
    height: 21px;
  }

  &--facebook {
    bottom: 1px;
    right: 3px;

    width: 15px;
    height: 28px;
  }

  &--twitter {
    right: 7px;

    width: 24px;
    height: 20px;
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    width: 33.3333%;
    padding: 20px 20px 10px;
  }

  .social-list__item {
    margin-right: 10.1852%;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .social-list__item {
    margin-right: 6.414%;
  }
}
