.special-product {
  color: #444444;

  background-color: #ffffff;
}

.special-product__title {
  margin: 0;

  .title();
}

.special-product__label {
  font: bold 17px/20px @font-family;
  text-transform: uppercase;
  color: #63d1bb;
}

.special-product__info {
  font: normal 15px/20px @font-family;
}

.special-product__description {
  line-height: 24px;
}

.special-product__price {
  font: bold 17px/24px @font-family;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .special-product__label {
    line-height: 17px;
    text-align: center;
  }

  .special-product__description {
    font-size: 17px;
    line-height: 30px;
  }

  .special-product__price {
    font-size: 20px;
  }
}
