.user-list {
  .list-reset();
}

.user-list__link {
  font: bold 17px/24px @font-family;
  text-decoration: none;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .user-list__link {
    text-align: right;
  }
}
