.user-list {
  padding: 0;

  .fix-list();

  background-color: @body-background-color;
}

.user-list__item {
  border-bottom: 1px solid @border-color;
}

.user-list__link {
  display: flex;

  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;

  &[href] {
    cursor: pointer;
  }

  &[href]:hover,
  &:focus {
    color: fade(@body-color, 60%);
  }

  &[href]:active {
    color: fade(@body-color, 30%);
  }
}

.user-list__text {
  flex-shrink: 0;
  flex-basis: auto;

  display: block;
  width: 81.25%;
  padding: 27px 0;
  padding-right: 9.375%;
  padding-left: 5%;
}

.user-list__icon {
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;

  display: block;
  margin-left: 9.375%;
  margin-right: auto;

  fill: @icon-color;
  opacity: 0.2;

  &--cart {
    width: 20px;
    height: 19px;
  }

  .user-list__link[href]:hover &,
  .user-list__link:focus &,
  .user-list__link[href]:active & {
    fill: @mishka-color;
  }

  .user-list__link[href]:hover &,
  .user-list__link:focus & {
    opacity: 1;
  }

  .user-list__link[href]:active & {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .user-list {
    width: 40.885%;
  }

  .user-list__item {
    border: none;
  }

  .user-list__link {
    padding-left: 9.873%;
    padding-right: 15.924%;
  }

  .user-list__text {
    width: 85.837%;
    padding: 32px 0;
    padding-left: 4.292%;

    text-align: right;
  }

  .user-list__icon {
    align-self: stretch;

    margin-left: 0;
    margin-top: 35px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    width: 27.5%;
  }
}
