.user-list {
  .list-reset();
}

.user-list__item {
  border-bottom: 1px solid @border-color;
}

.user-list__link {
  display: flex;
  align-items: center;

  padding: 0 30px;

  font: bold 17px/24px @font-family;
  text-decoration: none;
  color: #231f20;

  &:hover,
  &:focus,
  &:active {
    color: #63d1bb;
  }

  & span {
    display: block;
    padding: 27px 0;
    padding-left: 24px;

    color: #000000;
  }

  &[href]:hover span {
    opacity: 0.6;
  }

  &[href]:focus span {
    opacity: 0.6;
  }

  &[href]:active span {
    opacity: 0.3;
  }
}

.user-list__icon {
  align-self: center;
  flex-shrink: 0;

  opacity: 0.2;

  &--cart {
    width: 20px;
    height: 19px;
  }

  .user-list__link[href]:hover &,
  .user-list__link[href]:focus & {
    opacity: 1;
  }

  .user-list__link[href]:active & {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 2;

    width: 398px;
    margin-left: auto;
    padding-right: 50px;
  }

  .user-list__item {
    display: flex;

    border-bottom: none;
    border-left: 1px solid @border-color;
  }

  .user-list__link {
    padding-right: 0;

    opacity: 1;
    text-align: right;

    &--cart {
      width: 263px;
    }
  }

  .user-list__link span {
    padding: 32px 0;
    padding-left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    width: 400px;
  }

  .user-list__link {
    &--cart {
      width: 265px;
    }
  }
}
