.video {
  position: relative;

  width: 320px;
  margin: 0 auto;
  padding: 0 30px 58px;

  color: #444444;

  background-color: #ffffff;

  &:hover .video__wrapper,
  &:focus .video__wrapper {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .video__wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  position: relative;

  min-height: 97px;
  margin: 0;
  padding: 24px 10px 24px 89px;

  font: bold 17px/24px @font-family;
  color: #000000;

  border: 1px solid @border-color;
  border-bottom: none;

  &::before {
    content: "";

    position: absolute;
    top: 34px;
    left: 33px;

    width: 32px;
    height: 23px;

    background-image: url("/../../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.video__player {
  display: block;
  width: 260px;
  height: 150px;

  background-color: #dbf9f0;
  background-image: url("/../../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("/../../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.video__toggle {
  position: absolute;
  top: 133px;
  left: 110px;

  width: 101px;
  height: 77px;
  padding: 0;

  background-color: transparent;
  background-image: url("/../../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;

  transition: transform 0.3s;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }
}

.video__wrapper {
  padding: 27px 33px 32px;

  border: 1px solid @border-color;
  border-top: none;
}

.video__description {
  margin: 0;
  padding-bottom: 25px;

  font: normal 13px/24px @font-family;
}

.video__button {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .video {
    display: flex;
    flex-direction: column;

    width: 768px;
    padding: 0 50px 63px;
  }

  .video__player {
    order: 1;

    width: 668px;
    height: 455px;

    background-image: url("/../../img/video-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("/../../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }

  .video__toggle {
    top: 189px;
    left: 333px;

    width: 102px;
    height: 78px;
  }

  .video__title {
    order: 2;

    min-height: 94px;
    padding: 38px 41px 32px 105px;

    font-size: 20px;

    &::before {
      top: 38px;
      left: 41px;
    }
  }

  .video__wrapper {
    order: 3;

    padding: 0 40px 45px;
  }

  .video__description {
    padding-bottom: 35px;

    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    flex-direction: row;
    flex-wrap: wrap;

    width: 1150px;
    padding-bottom: 104px;
  }

  .video__title {
    order: 1;
    flex-shrink: 0;

    width: 388px;
    min-height: 144px;
    margin-left: auto;
    margin-bottom: -144px;
    padding: 97px 65px 0 98px;

    border: none;

    &::before {
      top: 48px;
      left: 100px;
    }
  }

  .video__player {
    order: 2;

    width: 682px;

    background-image: url("/../../img/video-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("/../../img/video-desktop@2x.jpg");
      background-size: 682px auto;
    }
  }

  .video__toggle {
    left: 340px;
  }

  .video__wrapper {
    width: 368px;
    padding: 176px 57px 60px 80px;

    border-top: 1px solid @border-color;
    border-left: 0;
  }

  .video__description {
    padding-bottom: 46px;
  }

  .video__button {
    margin: 0;
  }
}
