.list-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

.title() {
  font: bold 25px/30px @font-family;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
