@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@font-family: "Open Sans", "Arial", sans-serif;

@body-color: #000000;
@body-background-color: #ffffff;
@second-color: #444444;
@second-background-color: #f1f1f1;
@border-color: #ececec;
@icon-color: #221f1f;
@mishka-color: #63d1bb;
