@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@font-family: "Open Sans", "Arial", sans-serif;

@border-color: #ececec;
@burger-color: #221f1f;
